.navbar {
  position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #4B4453;
}

.footer {
  width: 100%;
    height: 75px;
    margin-bottom: 0;
    border-top: 1px solid #ebebeb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 235, 235);
}

.rectanguloUno {
  position: absolute;
width: 463px;
height: 329px;
left: 0px;
top: 0px;

background: #22B9AE;
}