.navbar {
  position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #4B4453;
}


.landingGrid {
  background: #3C3B3F;

  background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);

  background: linear-gradient(to left, #605C3C, #3C3B3F);

}

.avatarImg {
  height: 250px;
  padding-top: 5em;
}