.navbar {
  position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #4B4453;
}
/* 
.footer {
  color: white;
  background: #B00020;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-wrap {
  flex: 1;
} */
.container {
  padding-top: 60px;
}