.container {
  min-height: 100vh;
  padding: 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer {
  width: 100vw;
  background-color: #046937;
  display: block;
  overflow: hidden;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: auto;
}

.inner_Footer {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100%;
}

.inner_Footer .logo_container {
  display: block;
  float: left;
  width: 35px;
  height: 100%;
}

.inner_Footer .logo_container img {
  width: 60px;
  height: auto;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #046937;
  border-top: 1px solid hsl(0, 0%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 2.05;
  font-size: 3.7rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 18rem;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.progressBar {
  width: 40%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.foooter {
  margin-bottom: 0;
  background-color: #046937;
  border-top: 1px solid hsl(0, 0%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.foooterr {
  margin-bottom: 0;
  border-top: 1px solid hsl(0, 0%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.header h1 {
  max-width: 1200px;
  margin: 0 auto;
}*/

.h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

/* width must be only 100% but if I do that I won't have the same result as the video tutorial*/
.content {
  width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

/********************************* SKELETON ************** */

.goToUpBTN {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;

  width: 39px;
  height: 37px;
  background: #1f1f1f;
  display: block;
  border-radius: 7px;
  cursor: pointer;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}
